body {
  font-family: sans-serif; }

nav {
  margin-bottom: 1em; }
  nav.external-links {
    display: none; }
  nav a {
    text-decoration: none;
    border: 2px solid #0000ee;
    border-radius: 5px;
    padding: 2px; }
    nav a:link, nav a:visited {
      color: #0000ee; }
    nav a:hover {
      background: #ffff99; }

div.long a:link, div.long a:visited {
  color: black;
  text-decoration: none; }
div.long a:hover {
  text-decoration: underline;
  color: blue; }
div.long table td, div.long table th {
  padding-right: 1em; }
div.long table td.new, div.long table td.up, div.long table td.down {
  white-space: nowrap; }

iframe {
  width: 80%;
  overflow: hidden;
  border: 2px solid #cccccc;
  height: 400px; }

.up, .buy {
  color: green; }

.down, .sell {
  color: red; }

.new {
  color: gray; }

#calculator {
  position: fixed;
  width: 200px;
  top: 10px;
  right: 10px;
  background: #cccccc;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-size: smaller; }
  #calculator input {
    width: 100px; }

.name {
  cursor: pointer; }
  .name:hover {
    text-decoration: underline;
    color: blue; }

td.normal, td.normal a:link, td.normal a:visited {
  color: #999900; }

td.unique, td.unique a:link, td.unique a:visited {
  color: #999900; }

td.vintage, td.vintage a:link, td.vintage a:visited {
  color: #000099; }

td.unusual, td.unusual a:link, td.unusual a:visited {
  color: #660066; }

td.genuine, td.genuine a:link, td.genuine a:visited {
  color: #339966; }

td.strange, td.strange a:link, td.strange a:visited {
  color: #cc6600; }

td.haunted, td.haunted a:link, td.haunted a:visited {
  color: #990099; }

footer {
  color: red;
  font-weight: bold; }

body.mobile #calculator {
  display: none; }
body.mobile nav.external-links {
  display: none; }
body.mobile div.module {
  display: block;
  width: 100%;
  margin: 0; }
body.mobile div.long {
  height: auto;
  overflow: visible;
  border-width: 0; }
