body {
  font-family: sans-serif; }

div.module {
  display: inline-block;
  vertical-align: top;
  width: 42%;
  margin: 1em; }

div.long {
  height: 300px;
  overflow-y: scroll;
  border: 2px solid #cccccc; }
  div.long a:link, div.long a:visited {
    color: black;
    text-decoration: none; }
  div.long a:hover {
    text-decoration: underline;
    color: blue; }
  div.long table td, div.long table th {
    padding-right: 1em; }
  div.long table td.new, div.long table td.up, div.long table td.down {
    white-space: nowrap; }

iframe {
  width: 80%;
  overflow: hidden;
  border: 2px solid #cccccc;
  height: 400px; }

.up {
  color: green; }

.down {
  color: red; }

.new {
  color: gray; }

#calculator {
  position: fixed;
  width: 200px;
  top: 10px;
  right: 10px;
  background: #cccccc;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-size: smaller; }
  #calculator input {
    width: 100px; }

.name {
  cursor: pointer; }
  .name:hover {
    text-decoration: underline;
    color: blue; }

footer {
  color: red;
  font-weight: bold; }
