body
  font-family: sans-serif

nav
  margin-bottom: 1em
  &.external-links
    display: none
  a
    text-decoration: none
    border: 2px solid #00e
    border-radius: 5px
    padding: 2px
    &:link, &:visited
      color: #00e
    &:hover
      background: #ff9

div.long
  a:link, a:visited
    color: black
    text-decoration: none
  a:hover
    text-decoration: underline
    color: blue
  table
    td, th
      padding-right: 1em
    td.new, td.up, td.down
      white-space: nowrap

iframe
  width: 80%
  overflow: hidden
  border: 2px solid #ccc
  height: 400px

.up, .buy
  color: green
.down, .sell
  color: red
.new
  color: gray

#calculator
  position: fixed
  width: 200px
  top: 10px
  right: 10px
  background: #ccc
  border: 2px solid black
  border-radius: 6px
  box-shadow: 0 5px 15px rgba(0,0,0,0.5)
  font-size: smaller
  input
    width: 100px

.name
  cursor: pointer
  &:hover
    text-decoration: underline
    color: blue

@mixin quality-color($name, $color)
  td.#{$name}, td.#{$name} a:link, td.#{$name} a:visited
    color: $color
@include quality-color(normal, #990)
@include quality-color(unique, #990)
@include quality-color(vintage, #009)
@include quality-color(unusual, #606)
@include quality-color(genuine, #396)
@include quality-color(strange, #c60)
@include quality-color(haunted, #909)

footer
  color: red
  font-weight: bold

body.mobile
  #calculator
    display: none
  nav.external-links
    display: none
  div.module
    display: block
    width: 100%
    margin: 0
  div.long
    height: auto
    overflow: visible
    border-width: 0
